body {
    background-image: url(/asset/img/pngtree-smartphone-with-red-shopping-cart-on-it-picture-image_2676826.jpg);
    background-size: cover;
}

.container {
    margin-top: 200px;
}

a {
    text-decoration: none;
}

h1 {
    color: yellow;
    font-family: 'Times New Roman', Times, serif;
}

.homeEffect {
    /* opacity: 95%; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px auto;
    width: 250px;
    height: 250px;
    background: rgb(211, 215, 216);
    border-radius: 75px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 2px;
    transition: 1s box-shadow;
}

.pic:hover h1 {
    color: #f3ce5e;
}

.pic:hover .homeEffect {
    box-shadow: 0 5px 35px 0px rgba(0, 0, 0, 0.1);
}

.pic:hover .homeEffect:before,
.pic:hover .homeEffect:after {
    display: block;
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    background: #fda8cf;
    border-radius: 75px;
    z-index: -1;
    animation: 1s clockwise infinite;
}

.pic:hover .homeEffect:after {
    background: #f3ce5e;
    animation: 2s counterclockwise infinite;
}

.underline-hover-effect {
    display: inline-block;
    padding-bottom: 0.25rem;
    /* defines the space between text and underline */
    position: relative;
}

.underline-hover-effect:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #f3ce5e;
    transition: width 0.25s ease-out;
}

.pic:hover .underline-hover-effect:before {
    width: 100%;
}

@keyframes clockwise {
    0% {
        top: -5px;
        left: 0;
    }

    12% {
        top: -2px;
        left: 2px;
    }

    25% {
        top: 0;
        left: 5px;
    }

    37% {
        top: 2px;
        left: 2px;
    }

    50% {
        top: 5px;
        left: 0;
    }

    62% {
        top: 2px;
        left: -2px;
    }

    75% {
        top: 0;
        left: -5px;
    }

    87% {
        top: -2px;
        left: -2px;
    }

    100% {
        top: -5px;
        left: 0;
    }
}

@keyframes counterclockwise {
    0% {
        top: -5px;
        right: 0;
    }

    12% {
        top: -2px;
        right: 2px;
    }

    25% {
        top: 0;
        right: 5px;
    }

    37% {
        top: 2px;
        right: 2px;
    }

    50% {
        top: 5px;
        right: 0;
    }

    62% {
        top: 2px;
        right: -2px;
    }

    75% {
        top: 0;
        right: -5px;
    }

    87% {
        top: -2px;
        right: -2px;
    }

    100% {
        top: -5px;
        right: 0;
    }
}